body {
    background-color: rgb(57, 57, 57);
}
canvas {
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 10px 10px 20px 2px rgba(227, 227, 227, 0.904);

}

@keyframes fade {
    50%{
        box-shadow: 10px 10px 20px 2px rgba(227, 227, 227, 0.904);
    }
    70%{
        box-shadow: 10px 10px 20px 2px rgba(114, 114, 114, 0.904);
    }
    100% {
        box-shadow: 10px 10px 20px 2px rgba(227, 227, 227, 0.904);
    }
}
h1 {
    color: white;
    background-color:rgba(43, 43, 43, 0.705)
}
#confidence, #object_name  {
    color:white;
    font-size: 15px;
}
#show_sketch {
    
    float: right;
}